<%= link_to "Create New Portfolio Item", new_portfolio_path, class: 'btn btn-outline-primary new-port' if has_role?(:admin) %>

<div class="row featurette" id="devport">
  <div class="col-md-8">
    <h2 class="featurette-heading portfolio-link"><%= link_to @portfolio_items.first.title, portfolio_show_path(@portfolio_items.first) %>. <span class="text-muted"><%= @portfolio_items.first.subtitle %>.</span></h2>
    <p class="lead"><%= truncate(@portfolio_items.first.body, length: 205) %></p>
  </div>
  <div class="col-md-4">
    <%= image_tag @portfolio_items.first.thumb_image, class: 'featurette-image img-fluid mx-auto img-margin' unless @portfolio_items.first.thumb_image.nil? %>
  </div>
</div>

<hr class="featurette-divider">
<div class="row featurette" id="overtime">
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading portfolio-link"><%= link_to @portfolio_items.second.title, portfolio_show_path(@portfolio_items.second) %>. <span class="text-muted"><%= @portfolio_items.second.subtitle %>.</span></h2>
    <p class="lead"><%= truncate(@portfolio_items.second.body, length: 300) %></p>
  </div>
  <div class="col-md-5 order-md-1">
    <%= image_tag @portfolio_items.second.thumb_image, class: 'featurette-image img-fluid mx-auto img-margin' unless @portfolio_items.second.thumb_image.nil? %>
  </div>
</div>

<hr class="featurette-divider">
<div class="row featurette" id="angular">
  <div class="col-md-7">
    <h2 class="featurette-heading portfolio-link"><%= link_to @portfolio_items.third.title, portfolio_show_path(@portfolio_items.third ) %>. <span class="text-muted"><%= @portfolio_items.third.subtitle %>.</span></h2>
    <p class="lead"><%= truncate(@portfolio_items.third.body, length: 205) %></p>
  </div>
  <div class="col-md-5">
    <%= image_tag @portfolio_items.third.thumb_image, class: 'featurette-image img-fluid mx-auto img-margin' unless @portfolio_items.third.thumb_image.nil? %>
  </div>
</div>

<hr class="featurette-divider">