<body>
	<%= render 'shared/portfolio_nav' %>

	<main role="main">
		<%= render 'shared/portfolio_header' %>

		<div class="container marketing">
	    <%= render 'shared/portfolio_featurette' %>	    
	  </div>

	  <%= render 'shared/portfolio_footer' %>
	</main>
	
</body>


<h1>Portfolio Items</h1>
<%= link_to "Create New Item", new_portfolio_path if has_role?(:admin) %>
<%= render partial: 'portfolio_item', collection: @portfolio_items %>